{{- if eq .gitProfile "personal" -}}
[user]
    name = Rahul Kumar
    email = xyz.rahulkumar2002@gmail.com
[github]
    user = xyz-rahul
    url = https://github.com/xyz-rahul
{{- else if eq .gitProfile "work" -}}
[user]
    name = Rahul Kumar
    email = rahul.kumar2@cashify.in
[github]
    user = rahul-kumar-cashify
    url = https://github.com/rahul-kumar-cashify
{{- end }}

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[push]
    default = current
    showProgress = true
    verbose = true
    autoSetupRemote = true
    followTags = true
    recurseSubmodules = check

[alias]
    la = log --graph --all --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(auto)%d%C(reset)%n'\
'%C(white)%s%C(reset) %C(bold yellow)- %ae%C(reset)%n'
    l = log --graph --oneline --decorate --abbrev-commit
    open = "!f() { \
      branch=$(git rev-parse --abbrev-ref HEAD); \
      repo_url=$(git remote get-url origin); \
      repo_url=$(echo \"$repo_url\" | sed -E 's#(git@|https://)github.com[:/]#https://github.com/#' | sed 's/.git$//'); \
      url=\"$repo_url/tree/$branch\"; \
      open \"$url\"; \
    }; f"

